:root {
  --background-body: #1c1b1f;
  --background: #49454F;
  --background-alt: #49454F;
  --selection: #1c76c5;
  --text-main: #e6e1e5;
  --text-bright: #e6e1e5;
  --text-muted: #cac4d0;
  --links: #ffd8e4;
  --focus: #eaddff;
  --border: #938f99;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-base: #45378b;
  --button-hover: #7f67be;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(-30%));
  --form-placeholder: #e6e1e5;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
  --select-arrow: svg-load('./assets/select-arrow.svg', fill: #efefef);
}
